
$background: none;
$color_green: green;
$color_white: white;
$color_leftMenuItem: #1511d6;
$color_leftMenuItem_hover:#eb12b6;

$border_Test: 1px solid black;

$background_content: #808080;

$background_left: url(../img/smartfone.png);
$background_center: url(../img/tablet.png);
$background_right: none;

$font_content_h1: 32px 'Philosopher', sans-serif;
$font_content_h2: 26px 'Philosopher', sans-serif;
$font_content_p: 18px 'Philosopher', sans-serif;
$font_content_leftMenuItem: 20px 'Philosopher', sans-serif;

.content{
	.wrapper{
		// letter-spacing: -0.3em;
		position: relative;
		// border:$border_Test;
	}

	&__left, &__right{
		// border: $border_Test;
		vertical-align: top;
		position: relative;
		display: inline-block;
		margin: 0 auto;
		padding: 0 0 0 0;
		letter-spacing: normal;
		top:0;
		// width:75%;
	}

	&__left{
		// background: $background_left no-repeat;
		background-size: contain;
		position:relative;

		margin: 20px 0 20px 0;
		// width: 175px;
		// text-align: center;

		min-height: 310px;
		// width:5000px;
		width: 75%;

	}
	
	.leftMenu, .product, .total{
		display:inline-block;
		vertical-align:top;
	}

	.leftMenu{
		border:$border_Test;
		text-align:center;
		vertical-align: middle;
		width:18%;
		.filter{
			.filterItem{
				h1{font: $font_content_h1; color:black;}
				input{
					font: $font_content_p; 
					color: black; 
					background:none;
					border:1px solid black;
					
				}
				input:hover{
					background: #ffc; /* Цвет фона */
					transition: 1s linear; /* Время изменения */
				}
			}
		}
		
		.search{
			margin: 25px 10px 25px 10px;
			input{
				width:100%;
				padding-left: 10px;
				font:$font_content_p;
				color:#778899;
			}
		}
	}

	.product{
		position:relative;
		width:80%;
		text-align:center;
		// vertical-align: middle;
		.productItem{
			position:relative;
			background: #ffffff;
			background-repeat: no-repeat;
			background-size:contain;
			// min-width:200px;
			min-height:200px;
			border:3px solid black;
			overflow:hidden;

			.productImg{
				position:relative;
				width:100%;
				height:180px;
				text-align:center;


				img{
					width:100%;
					height:100%;
				}
			}
		}
		h1{font:$font_content_h1;}
		p{
			font:$font_content_p;
		}
	}
	
	.total{
		border:1px solid black;
		border-radius:5px;

		width:100%;
		margin-top:30px;

		label{
			font:bold $font_content_p;
			color:#8B0000;
		}

	}

	&__right{
		@extend .content__left;
		// width: auto;
		width: 20%;
		min-height: auto;
		border:1px solid black;
		text-align:center;
		
		.basketTitle{
			h1{font: $font_content_h1; color:black;}
		}

		.basket{
			
			.basketItem{
				font: $font_content_p;
				position:relative;
				margin: 0 3px 0 3px;
				// border:1px solid black;
				.nameBasket{
					 text-align: left;
					 vertical-align: middle;
					 // border:$border_Test;
					 // margin-left:5px;
					 padding:0;

					
					font-size:16px;
					overflow:hidden;
				}
				.itemNumb{
					position:relative;
					// overflow:hidden;
					// width:120px;

					input{
						font-size:12px;
						padding:3px;
						width:100%;
						overflow:hidden;
					}
				}
				.itemCount{
					overflow:hidden;
				}
				.itemButtDel{
					padding:0;
					margin:0;
					// width:100%;
					button{
						font: $font_content_p;

						padding:0;
						margin:0;
						width:100%;
						overflow:hidden;
					}
				}
			}

		}

		.basketTotal{
			text-align:right;
				.basketTotalItem{
					margin:30px 0 30px 0;
					.totalCost{
						p{
							font:$font_content_p;
							display:inline-block;
						}
						label{font:$font_content_p;}
					}
					
					button{
						font:bold $font_content_p;

						height:100%;
						width:100%;

						min-height:35px;
					}
				}
			}
		
		.totalPrice{
			text-align:right;
			// padding-right: 20px;
		}
	}
}


@mixin smallScreenContent{
	.content{
		&__left, &__right{
			display:block;
			width: 80%;
			margin: 0 auto;
		}

		&__left{
				display:block;
				width: 80%;
				margin: 0 auto;
			.leftMenu, .product,{
				display:block;
			}
			.leftMenu{
				width:100%;
				margin: 0 0 30px 0;
			}
			.product{
				width:100%;
				text-align:center;
				img{
					max-width:180px;
				}
			}

			.total{
				width:100%;
			}
		}

		&__right{
			margin-top:30px;
			.basket{

				.basketItem{
					text-align:center;
					margin:20px 0 0 0;
					border:$border_Test;
					.nameBasket{
						// border:$border_Test;
						text-align:center;
					}
					.nameBasket, .itemNumb, .itemCount, .itemButtDel{
						width:100%;
					}
				}
			}
		}
	}
}

@mixin mediumScreenContent{
	@include smallScreenContent;
}

@mixin largeScreenContent{
	.content{
		margin: 0 0 0 0;
		overflow: hidden;

		&__left, &__center{
			// float: left;
			display: block;
			margin:0 auto;
		}

		&__left{
			margin: 20px 0 20px 0;
			width: 175px;
			// min-height: 300px;
			background-size: contain;

			.leftMenu{
				// float: left;
				// margin-left: 10px;
				.leftMenuItem{
					
					// margin: 0 auto;
				}
			}
		}

		&__center{
			// background: url(../img/tableForSmall.png) no-repeat scroll;
			// background-size: contain;
			overflow: scroll;
			width: 100%;


			.screenTabletContent{
				// margin: 35px 35px 0 45px;
				margin: 7% 20% 0 15%;
				height: 420px;
				width: 75%;
				overflow: scroll;
			}
		}
	}
}

@media screen and (max-width: 320px){
	@include smallScreenContent;
}

@media screen and (min-width: 320px) and(max-width: 600px){
	@include smallScreenContent;
}

@media screen and (min-width: 601px) and (max-width: 806px){
	@include mediumScreenContent;
}

@media screen and (min-width: 807px) and (max-width: 991px){
	@include mediumScreenContent;
}

@media screen and(min-width:  992px) and (max-width: 1060px){
	.content{
		&__left{
			.product{
				img{
					max-width:180px;
					max-height: 180px;

					min-width:100px;
					min-height:100px
				}
			}
		}
		&__right{
			margin-top:30px;
			.basket{

				.basketItem{
					display:block;
					text-align:center;
					margin:20px 0 0 0;
					border:$border_Test;
					.nameBasket{
						text-align:center;
					}
					.nameBasket, .itemNumb, .itemCount, .itemButtDel{
						width:100%;
					}
				}
			}
		}
	}
}

@media screen and(min-width:  992px) and (max-width: 1400px){
	.content{
		&__right{
			margin-top:30px;
			.basket{

				.basketItem{
					display:block;
					text-align:center;
					margin:20px 0 0 0;
					border:$border_Test;
					.nameBasket{
						text-align:center;
					}
					.nameBasket, .itemNumb, .itemCount, .itemButtDel{
						width:100%;
					}
				}
			}
		}
	}
}